language: python

python:
  - "3.6"
  - "3.7-dev"

install:
  - pip install --upgrade pipenv
  - pipenv install -d --deploy

script:
  - pipenv run flake8 --ignore=W,E203,F405 --max-line-length=88
  - pipenv run pytest

notifications:
  email: false
