[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
twine = "*"
python-cfonts = {path = ".", editable = true}
pytest = "*"
flake8 = "*"
sphinx = "*"
sphinx-click = "*"
